---
import Header from "../../components/shared/header.astro";
import NstudioLayout from "../../layouts/nstudio-layout.astro";
import Case1 from "../../components/nstudio/case-1.astro";
import MainVisualContainer from "../../components/nstudio/main-visual-container.svelte";
import Dots from "../../components/nstudio/dots.svelte";
import ScrollDownIcon from "../../components/nstudio/scroll-down-icon.svelte";
---

<NstudioLayout>
  <div class='mandatory'>
    <section>
      <Header />
      <MainVisualContainer client:load />
      <ScrollDownIcon client:visible />
    </section>
    <section>
      <Case1 />
    </section>
  </div>
</NstudioLayout>
<style>
  .mandatory {
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
  }
  section {
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
  }
</style>
