---
import { Image } from "astro:assets";
import GameBoy from "./gameboy.astro";
import img from "../../assets/case/sushi-tsuruya.jpeg";
---

<section>
  <div>
    <h2>制作事例-1</h2>
    <h3>「寿司つるや」公式サイト</h3>
    <GameBoy>
      <div class='addressbar'></div>
      <iframe
        title='寿司つるやホームページ'
        width='375px'
        height='667px'
        src='https://sushi-tsuruya.com/'
      >
      </iframe>
    </GameBoy>
    <style>
      section {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100vh;
        scroll-snap-align: start;
        color: #468966;
      }
      h2 {
        font-size: var(--fontsize-2xl);
      }
      iframe {
        border: 0;
        transform: scale(0.76);
        transform-origin: 0 0;
      }
      .addressbar {
        background-color: #3a0b43;
        width: 100%;
        height: 30px;
      }
    </style>
  </div>
</section>
