<section>
  <div>
    <h2 id='case1'>寿司つるや</h2>
  </div>
  <style>
    section {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      scroll-snap-align: start;
      color: #468966;
    }
    h2 {
      font-size: var(--fontsize-2xl);
    }
  </style>
</section>
