---
import GameBoy from "./gameboy.astro";
import Pc from "./pc.astro";
---

<section>
  <div>
    <h2>制作事例-1</h2>
    <h3>「寿司つるや」公式サイト</h3>
    <ul class='slider'>
      <li class='slide'>
        <GameBoy>
          <div class='addressbar'></div>
          <iframe
            class='smartphone'
            title='寿司つるやホームページ'
            width='375px'
            height='667px'
            src='https://sushi-tsuruya.com/'
          >
          </iframe>
        </GameBoy>
      </li>
      <li class='slide'>
        <div>
          <Pc>
            <iframe
              class='desktop'
              title='寿司つるやホームページ'
              width='1024px'
              height='666px'
              src='https://sushi-tsuruya.com/'
            >
            </iframe>
          </Pc>
        </div>
      </li>
    </ul>
  </div>
</section>
<style>
  section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    color: #468966;
  }
  h2 {
    font-size: var(--fontsize-2xl);
    padding: var(--spacing-l) var(--spacing-xl);
    margin: 0;
  }
  h3 {
    padding: 0 var(--spacing-xl);
    margin: 0;
  }
  .smartphone {
    border: 0;
    transform: scale(0.67);
    transform-origin: 0 0;
  }
  .desktop {
    border: 0;
    transform: scale(0.375);
    transform-origin: 0 0;
  }
  .addressbar {
    background-color: #3a0b43;
    width: 100%;
    height: 30px;
  }
  .slider {
    display: flex;
    padding: 0;
    margin: 0;
    overflow: auto;
    scroll-snap-type: x mandatory;
  }
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    list-style: none;
    scroll-snap-align: start;
    flex-shrink: 0;
    padding-bottom: var(--spacing-m);
  }
</style>
