---
import { useConstants } from "../../libs/use-constants";
import { SPACING, COLOR, SNS_LINKS } from "../../constants";
import { Icon } from "astro-iconify";
const { pathname } = Astro.url;
import image from "../../assets/nakano.webp";
import { Image } from "astro:assets";
---

<header class='container'>
  <nav>
    <ul class='linkList'>
      {
        pathname !== "/" && (
          <li class='link'>
            <a href='/'>
              <Image
                src={image}
                alt='indexに戻る'
                width={30}
                height={30}
                class='img'
              />
            </a>
          </li>
        )
      }
    </ul>
    <ul class='linkList'>
      {
        Object.entries(SNS_LINKS).map(([key, value]) => (
          <li class='link'>
            <a href={value}>
              <span class='iconOuter'>
                <Icon name={`carbon:logo-${key}`} />
              </span>
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
<style define:vars={useConstants({ SPACING, COLOR })}>
  a:hover {
    opacity: 0.9;
  }
  img {
    width: 30px;
    border-radius: 100%;
    display: block;
    border: 1px solid var(--COLOR_GRAY500);
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  .linkList {
    display: flex;
    padding: var(--SPACING_PX12);
    margin: 0;
    gap: var(--SPACING_PX12);
  }
  .link {
    width: 30px;
    list-style: none;
  }

  .iconOuter {
    color: var(--COLOR_GRAY600);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .link:hover .iconOuter {
    color: var(--COLOR_GRAY500);
  }
</style>
