---
import Header from "../../../components/shared/header.astro";
import Layout from "../../../layouts/layout.astro";
import ProjectsPage from "../../../components/nstudio/projects.astro";
import { Sprite } from "astro-iconify";
---

<Layout>
  <Header />
  <div class='container'>
    <!-- アイコンをsvgシンボルにするため -->
    <Sprite.Provider>
      <ProjectsPage />
    </Sprite.Provider>
    <style>
      .container {
        display: flex;
        justify-content: center;
      }
    </style>
  </div>
</Layout>
