---
import { useConstants } from "../../../libs/use-constants";
import { COLOR } from "../../../constants";
const { size } = Astro.props;
---

<span class='iconOuter'>
  <slot />
</span>

<style define:vars={{ ...useConstants({ COLOR }), size }}>
  .iconOuter {
    width: var(--size);
    height: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--COLOR_GRAY200);
    border-radius: 100%;
    color: #334155;
    border: 1px solid var(--COLOR_GRAY500);
    box-sizing: border-box;
  }
</style>
