---
import Header from "../components/shared/header.astro";
import Layout from "../layouts/layout.astro";
import Timeline from "../components/index/timeline.astro";
---

<Layout>
  <Header />
  <div class='container'>
    <Timeline />
  </div>
</Layout>

<style>
  .container {
    display: flex;
    justify-content: center;
  }
</style>
