---
import Header from "../components/shared/header.astro";
import BaseLayout from "../layouts/base-layout.astro";
import Timeline from "../components/index/timeline.astro";
import { Sprite } from "astro-iconify";
---

<BaseLayout>
  <Header />
  <div class='container'>
    <!-- アイコンをsvgシンボルにするため -->
    <Sprite.Provider>
      <Timeline />
    </Sprite.Provider>
    <style>
      .container {
        display: flex;
        justify-content: center;
      }
    </style>
  </div>
</BaseLayout>
