---
import Header from "../components/shared/header.astro";
import BaseLayout from "../layouts/base-layout.astro";
import Timeline from "../components/index/timeline.astro";
import { Sprite } from "astro-iconify";
import { CollectionEntry, getCollection } from "astro:content";
const eventCollection = await getCollection("events");
let events: CollectionEntry<"events">[] = [];
for (const event of eventCollection) {
  if (event.data.draft) continue;
  if (event.data.type !== "writing") continue;
  events.push(event);
}
---

<BaseLayout>
  <Header />
  <div class='container'>
    <!-- アイコンをsvgシンボルにするため -->
    <Sprite.Provider>
      <Timeline events={events} />
    </Sprite.Provider>
    <style>
      .container {
        display: flex;
        justify-content: center;
      }
    </style>
  </div>
</BaseLayout>
