---
import { useConstants } from "../libs/use-constants";
import { COLOR, SPACING } from "../constants";
import Header from "../components/shared/header.astro";
import { Sprite } from "astro-iconify";
import Navigation from "../components/shared/navigation.astro";
---

<!DOCTYPE html>
<html lang='ja'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width,initial-scale=1' />
    <title>yuto-343.net</title>
    <meta
      name='description'
      content='フロントエンドエンジニアyuto343の個人サイト'
    />
  </head>
  <body>
    <Sprite.Provider>
      <Header />
      <Navigation />
      <slot />
    </Sprite.Provider>
  </body>
</html>
<style define:vars={useConstants({ COLOR, SPACING })}>
  html {
    background-color: var(--COLOR_GRAY100);
    font-family: "Hiragino Kaku Gothic Pro W3", Motoya, Meiryo, "MS PGothic",
      serif;
  }
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: var(--SPACING_PX32);
  }
</style>
